Current Performance:
<br><br>
<div class="flex-grid narrow-item-border" >
  <div class="col2">
    <div>Target:</div>
    <div>Target Type:</div>
    <div>Coverage Rate:</div>
    <div>Start Date:</div>
    <div>End Date:</div>
    <br>
    <div>History:</div>
  </div>

  <div class="col2">
    <div>{{ target.coverage_target }}</div>
    <div>{{ target.coverage_type }}</div>
    <div>{{ target.rage }}</div>
    <div>{{ target.start_date }}</div>
    <div>{{ target.end_date }}</div>
    <br>
    <div></div>
  </div>

  <div class="col8"></div>

</div>




