table {
  width: 100%;
}

.mat-cell {
  font-size: medium;
}

.inc-cell {
  color: black;
  text-align: center;
}

.merge-cell {
  color: black;
  background-color: yellow;
  text-align: center;
}

.dec-cell {
  color: white;
  background-color: crimson;
  text-align: center;
}

.sfty-btn,
.dock-btn,
.acci-btn,
.used-btn,
.reg-btn,
.othr-btn {
  background-color: lightyellow;
  color: black;
  text-align: center;
}

.mkt-btn {
  background-color: lightgreen;
  color: black;
  text-align: center;
}

.drop-btn {
  background-color: lightskyblue;
  color: black;
  text-align: center;
}

.pred-btn {
  background-color: lightcoral;
  color: black;
  text-align: center;
}

.ret-btn {
  background-color: green;
  color: white;
  text-align: center;
}
