form {
  margin-top: 20px;
}

.trip-details {
  display: grid;
  // grid-auto-flow: column;
}

.makewide {
  width: 100%;
}

@media (min-width: 500px) {
  .trip-details {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 45%;
    grid-column-gap: 20px;
    grid-template-rows: repeat(6, auto);
  }
}

.trip-update-button {
  color: white;
  background-color: green;
}
