.cw-grid-numpad {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.cw-entry-grid {
  display: grid;
  grid-template-columns: 70px 75px 50px;
  grid-gap: 10px;
}

.entry-button {
  grid-column: 3;
  grid-row: 1 / 3;
  background-color: green;
  max-height: 100px;
  color: white;
  align-self: center;
}

.done-button {
  max-height: 100px;
  font-size: 18px;
  background-color: lightgreen;
  align-self: center;
}

.input-label-active {
  font-weight: bolder;
}

.input-active {
  font-size: 24px;
  background-color: lightgreen;
}

input[type='text'], input[type='number'], .data-row {
  font-size: 24px;
  max-height: 60px;
}

th, td {
  font-size: 18px;
  font-weight: bold;
}

.mat-input-element {
  border: solid;
}
