<div class="card">
  <div class="card-heading">Active Vessel:</div>

  <div class="card-contents">
    <p-selectButton
      id="vesselSelect"
      [options]="vessel_options"
      (onChange)="setActiveVessel($event)"
    ></p-selectButton>

    <div
      style="display:inline-block; margin:12px; font-weight: bold"
      [innerHtml]="getActiveVessel()"
    ></div>
  </div>

  <div class="card-heading">Preferred Notification Method:</div>

  <div class="card-contents">
    <p-selectButton
      id="notificationSelect"
      [options]="notification_options"
      multiple="multiple"
      (onChange)="setNotificationPref($event)"
    ></p-selectButton>

    <div
      style="display:inline-block; margin:12px; font-weight: bold"
      [innerHtml]="getNotificationPref()"
    ></div>
  </div>

  <app-user></app-user>
</div>

<app-footer></app-footer>
