# See http://help.github.com/ignore-files/ for more about ignoring files

# compiled output
**/dist
**/dist-server
**/tmp
**/out-tsc
**/dev-auth-server/lib

# logs
lerna-debug.log*
# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
lerna-debug.log
testem.log
/typings
**/yarn.lock

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
observer/.idea/

# user-config
**/authProxyConfig.json
**/dbConfig.json
temp-pub-key.pem
apps/obs-web/misc/index.js
apps/obs-web/misc/upload_em_efp_permits.ts
apps/obs-web/src/views/scratch.vue
