# See http://help.github.com/ignore-files/ for more about ignoring files

# compiled output
**/dist
**/dist-server
**/tmp
**/out-tsc
observer/obs-electron/Observer Electron App-win32-x64/*
observer/obs-electron/build/obs-ng
observer/obs-electron/build/config.gypi


# logs
lerna-debug.log*
# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
lerna-debug.log
testem.log
/typings
**/yarn.lock

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
observer/.idea/

# user-config
**/authProxyConfig.json
**/dbConfig.json
