.footer {
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
}
.version {
  font-size: small;
}

.footer-button {
  // border: 1px solid #818180;
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1em;
  text-align: center;
}
