/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
}

.heading {
  color: #1675d1;
  font-weight: bold;
  font-size: 20px;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin-left: 20px;
}

.subheading {
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  margin: 20px;
}

.card {
  margin: 3px;
  border: 1px solid lightgrey;
  stroke: 3px;
}

.card-heading {
  color: #1675d1;
  font-weight: bold;
  font-size: 20px;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin: 16px 20px;
}

.card-sub-heading {
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin: 16px 20px;
  border-bottom: 1px solid lightgray;
}

.card-field-title {
  font-weight: bold;
}

.card-field-value {
  padding-left: 50px;
  font-weight: initial;
}

.card-contents {
  margin: 16px 20px;
}

.card-input-label {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.card-input-divider {
  margin: 20px;
}

.container {
  margin: 85px 10px 10px 10px;
}

.default_item_border {
  border: 2px solid black;
  // border-radius: 5px;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.narrow_item_border {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  padding: 3px;
  margin: 5px 0;
  text-align: left;
}

.selected {
  background-color: #1675d1;
  color: white;
}

.closed_item_border {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  padding: 3px;
  margin: 10px 0;
  color: grey;
}

.current_active {
  border: 2px solid #1675d1;
  // border-radius: 5px;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.vertical-align {
  height: 1em;
  line-height: 1em;
  text-align: center;
}

.activeitem {
  color: #1675d1;
  border: 2px solid #1675d1;
}

.list-item {
  margin: 20px 20px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.closed {
  color: gray;
}

.item-num {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding-right: 10px;
}

.first-line {
  font-weight: bold;
}

.second-line {
  font-size: small;
}

.status-icons {
  float: right;
  font-size: 20px;
}

.new-item-button {
  text-align: right;
  margin: 20px;
}

.centered-spinner {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.flex-grid {
  display: flex;
}

.flow-wrap {
  flex-flow: row wrap;
}

.side-by-side-boxes {
  border: 2px solid #1675d1;
  // border-radius: 15px;
  background-color: white;
  padding: 20px;
  margin: 15px;
}

.col {
  flex: 1;
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 3;
}

.col4 {
  flex: 4;
}

.col8 {
  flex: 8;
}

.vm5 {
  margin: 5px 0;
}

.mat-icon-button {
  background-color: #1976d2;
}

.footer button {
  margin: 10px;
}

.pv6 {
  padding: 6px 0;
}

.mb5 {
  margin-bottom: 5px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-desktop {
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: flex;
}

@media only screen and (max-width: 414px) {
  .closed_item_border {
    border: 2px solid grey;
    // border-radius: 5px;
    background-color: white;
  }
}

@media (min-width: 415px) {
  .closed_item_border {
    border-top: 2px solid grey;
  }
}

@media (max-width: 414px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 415px) {
  .desktop {
    margin-top: 10px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
}

@media only screen and (max-width: 414px) {
  .narrow_item_border {
    border: 2px solid black;
    // border-radius: 5px;
    background-color: white;
  }
}

@media only screen and (min-width: 415px) {
  .narrow_item_border {
    color: #1675d1;
  }
}

@media only screen and (max-width: 415px) {
  .selected {
    background-color: #1675d1;
    color: white;
  }
}

@media only screen and (min-width: 414px) {
  .selected {
    border: none;
  }
}

@media (min-width: 415px) {
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 415px) {
  .flex-space-desktop {
    display: inherit;
  }
}
