<div class="all-buttons">
  <div class="tally-buttons">
    <button
      mat-raised-button
      [matBadgeHidden]="b.delta === undefined"
      [matBadgeColor]="getBadgeColor(b)"
      [matBadge]="getBadgeText(b)"
      *ngFor="let b of tallyButtons"
      [ngClass]="getButtonClass(b.type)"
      [ngStyle]="getLocationStyle(b)"
      (click)="onButtonClick(b)"
    >
      {{ getTallyButtonText(b) }}
    </button>
  </div>
  <div class="root-buttons" *ngIf="controlMode === 'tally'">
    <button
      mat-raised-button
      class="ctl-btn"
      style="background-color: lightblue"
      (click)="openTallyHistory()"
    >
      HISTORY
    </button>
    <button mat-raised-button disabled class="ctl-btn">
      SWITCH <br />
      PAGE <br />
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-raised-button class="invis-btn"></button>

    <button mat-raised-button class="ctl-btn" (click)="setMode('modify')">
      MODIFY <br />LAYOUT
    </button>
    <button
      mat-raised-button
      [ngClass]="tallyIncDecValue > 0 ? 'tally-inc-btn' : 'tally-dec-btn'"
      (click)="onTallyModeButton()"
    >
      TALLY <br />MODE: <br />{{
        (tallyIncDecValue > 0 ? '+' : '') + tallyIncDecValue
      }}
    </button>
    <button mat-raised-button class="invis-btn"></button>
    <button
      mat-raised-button
      [ngClass]="isPendingWeightsSelect ? 'cur-btn' : 'ctl-btn'"
      (click)="onWeightsButton()"
    >
      WEIGHTS <br />
      FOR ...
    </button>
    <button
      mat-raised-button
      [ngClass]="isPendingAllTallySelect ? 'cur-btn' : 'ctl-btn'"
      (click)="onAllTallyButton()"
    >
      ALL <br />TALLIES <br />FOR ...
    </button>
  </div>
  <div class="modify-buttons" *ngIf="controlMode === 'modify'" [@slideIn]>
    <button mat-raised-button class="warning-btn" (click)="resetAllData()">
      RESET <br />DATA
    </button>
    <button mat-raised-button class="ctl-btn" (click)="onAddNamed()">
      ADD <br />NAMED <br />SPECIES
    </button>
    <button
      mat-raised-button
      class="ctl-btn"
      [disabled]="!tempButtonsExist()"
      [ngClass]="isPendingNameTemp ? 'cur-btn' : 'ctl-btn'"
      (click)="onNameTempSpecies()"
    >
      NAME <br />TEMP <br />SPECIES
    </button>
    <button mat-raised-button class="ctl-btn" (click)="onAddTempSpecies()">
      ADD <br />TEMP <br />SPECIES
    </button>
    <button
      mat-raised-button
      class="ctl-btn"
      [ngClass]="isPendingModifyDisp ? 'cur-btn' : 'ctl-btn'"
      (click)="onModifyDisp()"
    >
      MODIFY <br />DISP.
    </button>

    <button
      mat-raised-button
      [ngClass]="isPendingDelete ? 'cur-btn' : 'ctl-btn'"
      (click)="onDeleteButton()"
    >
      DELETE <br />TALLY
    </button>
    <button
      mat-raised-button
      [ngClass]="isPendingMove ? 'cur-btn' : 'ctl-btn'"
      (click)="onMoveButton()"
    >
      MOVE <br />TALLY
    </button>
    <button
      mat-raised-button
      [ngStyle]="{ 'font-size': '90%', 'line-height': '1.2' }"
      [ngClass]="isPendingAdd() ? 'cur-btn' : 'ctl-btn'"
      (click)="onAddButton()"
    >
      ADD <br />EXISTING <br />SPECIES <br />TALLY
    </button>

    <button
      mat-raised-button
      class="ctl-btn"
      style="background-color: crimson; color: white;"
      (click)="reset()"
    >
      DONE
    </button>
  </div>
  <div
    class="add-tally-buttons"
    *ngIf="controlMode === 'add-button'"
    [@slideIn]
  >
    <button
      mat-flat-button
      *ngFor="let btnType of tallyService.buttonTypes"
      fxFlex="1 1 auto"
      [disabled]="currentExistingTypes.has(btnType)"
      [ngClass]="[getButtonClass(btnType), 'short-btn']"
      [ngStyle]="getAddTallyButtonStyle(btnType)"
      (click)="onAddTallyButtonType(btnType)"
    >
      {{ sourceAddButton.code }} <br />{{ btnType }}
    </button>
    <button
      mat-flat-button
      class="ctl-btn"
      style="background-color: crimson; color: white;"
      (click)="reset()"
    >
      DONE <br />WITH <br />{{ sourceAddButton.code }}
    </button>
  </div>
  <div
    class="add-tally-buttons"
    *ngIf="controlMode === 'modify-disp'"
    [@slideIn]
  >
    <button
      mat-flat-button
      *ngFor="let btnType of tallyService.buttonTypes"
      fxFlex="1 1 auto"
      [disabled]="modifyDispButton && modifyDispButton.type === btnType"
      [ngClass]="[getButtonClass(btnType), 'short-btn']"
      [ngStyle]="getModifyDispButtonStyle(btnType)"
      (click)="onModifyDispType(btnType)"
    >
      {{ modifyDispButton.code }} <br />{{ btnType }}
    </button>
    <button
      mat-flat-button
      class="ctl-btn"
      style="background-color: crimson; color: white;"
      (click)="reset()"
    >
      Cancel
    </button>
  </div>
  <div class="all-tally-buttons" *ngIf="controlMode === 'all-tally'" [@slideIn]>
    <button
      mat-flat-button
      class="tally-btn tally-incdec-mini"
      [ngClass]="tallyIncDecValue > 0 ? 'tally-inc-btn' : 'tally-dec-btn'"
      (click)="onTallyModeButton()"
    >
      TALLY <br />MODE: <br />{{
        (tallyIncDecValue > 0 ? '+' : '') + tallyIncDecValue
      }}
    </button>
    <button
      mat-flat-button
      *ngFor="let b of allTallyButtonsRow"
      [matBadgeHidden]="b.delta === undefined"
      [matBadgeColor]="getBadgeColor(b)"
      [matBadge]="getBadgeText(b)"
      [ngClass]="[getButtonClass(b.type), 'mini-tally-btn']"
      (click)="onButtonClick(b)"
    >
      {{ getTallyButtonText(b) }}
    </button>
    <button mat-flat-button class="tally-done-btn" (click)="reset()">
      DONE <br />WITH <br />{{ sourceAddButton.code }}
    </button>
  </div>
</div>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  width="425"
></p-confirmDialog>
