$min_login_width: 400px;

.login-card {
  display: grid;
  width: minmax($min_login_width, 100%);
}

.tablet-mode {
  display: grid;
  justify-content: right;
}
.login-container > * {
  display: grid;
  grid-template-columns: minmax($min_login_width, 20%);
  justify-content: center;
}

.login-button {
  display: grid;
  justify-content: center;
}

.exit-button {
  display: grid;
  justify-content: center;
}
