$min_login_width: 400px;

.login-card {
  display: grid;
  width: minmax($min_login_width, 100%);
}

.login-container > * {
    display: grid;
    grid-template-columns: minmax($min_login_width, 20%);
    justify-content: center;
}

.login-button {
  display: grid;
  justify-content: center;
}

.exit-button {
  display: grid;
  justify-content: center;
}


@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #1675d1;
    }
    40% {
        stroke: #1675d1;
    }
    66% {
        stroke: #1675d1;
    }
    80%,
    90% {
        stroke: #1675d1;
    }
}