<div class="card closed">
  <div class="card-heading">
    <span class="trip-num">{{ trip.trip_num }}</span> {{ trip.vessel }}
    <span class="status-icons">
      <i class="pi pi-check" *ngIf="trip.selected"></i>
      <i class="pi pi-comment" *ngIf="trip.messages"></i>
    </span>
  </div>

  <div class="card-contents">
    <form mat-form [formGroup]="tripForm">
      <br />
      <div class="ui-float-label">
        <p-calendar
          formControlName="start_date"
          id="start_date"
          [touchUI]="true"
          showTime="true"
          hourFormat="12"
        ></p-calendar>
        <label for="start_date">Start Date</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
        <p-calendar
          formControlName="end_date"
          id="end_date"
          [touchUI]="true"
          showTime="true"
          hourFormat="12"
        ></p-calendar>
        <label for="end_date">End Date</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
        <input
          type="text"
          size="20"
          formControlName="start_port"
          pInputText
          style="width:100%"
        />
        <label for="start_port">Start Port</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
        <input
          type="text"
          size="20"
          formControlName="end_port"
          pInputText
          style="width:100%"
        />
        <label for="end_port">End Port</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="card-input-label">Permits:</div>
      <p-selectButton
        id="trip-permits"
        [options]="permits"
        formControlName="permits"
        multiple="multiple"
        (ngModelChange)="setTripPermits()"
      ></p-selectButton>

      <div *ngFor="let permit of trip.permits">
        <div *ngIf="permit.id.includes('NL')">
          <span>Enter unlisted permit number:</span>
          <input
            type="text"
            formControlName="unlisted_permit"
            id="unlisted_permit"
            (ngModelChange)="addUnlistedPermit()"
          />
        </div>
      </div>

      <hr />
      <strong>Messages:</strong>
      <div *ngIf="trip.is_open">
        <button
          style="float:right; color: white; margin: 5px 0"
          mat-icon-button
          routerLink="/message-detail"
        >
          <mat-icon>create</mat-icon>
        </button>
      </div>
      <br /><br /><br />
      <div *ngFor="let message of trip.messages">
        <div
          class="narrow_item_border"
          *ngIf="message.created_by === currentUser; else: otherUsersMessage"
          (click)="editMessage(message)"
          routerLink="/message-detail"
        >
          <div class="col" style="text-align: left; padding-left: 3px">
            <div style="color: #1675d1">
              {{ message.created_by }} <br />
              {{ message.created_date }}
            </div>
          </div>
          <div class="col2">
            <div style="text-align: left">{{ message.content }}</div>
          </div>
        </div>
        <ng-template class="narrow_item_border" #otherUsersMessage>
          <div class="col" style="text-align: left; padding-left: 3px">
            <div style="color: #1675d1">
              {{ message.created_by }} <br />
              {{ message.created_date }}
            </div>
          </div>
          <div class="col2">
            <div style="text-align: left">{{ message.content }}</div>
          </div>
        </ng-template>
      </div>

      <hr />
      <div *ngIf="trip.is_open; else: tripIsClosed">
        <p-button label="Close Trip" (click)="closeTrip()"></p-button>
      </div>

      <ng-template #tripIsClosed>
        <p-button label="Re-Open Trip" (click)="openTrip()"></p-button>
      </ng-template>
      <!--
        <br><br>
        <div>
            <p-toggleButton onLabel="open" offLabel="closed" onIcon="pi pi-lock-open" offIcon="pi pi-lock" formControlName="is_open"></p-toggleButton>
        </div>
      -->
    </form>
  </div>
</div>

<app-footer></app-footer>
