<div >

    <p-table [columns]="cols" [value]="hauls" selectionMode="single" [(selection)]="selectedRow">
            <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns">
                              {{col.header}}
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData">
                            <ng-container *ngFor="let col of columns">
                                <div *ngIf="col.subfield; then nesteddata else nonnesteddata"></div>
                                
                                <ng-template #nesteddata>
                                    <td>{{rowData[col.field][col.subfield]}}</td>
                                </ng-template>

                                <ng-template #nonnesteddata>
                                    <td>{{rowData[col.field]}}</td>
                                </ng-template>

                            </ng-container>            
                      </tr>
                  </ng-template>
              </p-table>

  <div class="footer" style="float:right">
      
      <div class="footer-contents">

        <p-button label="New Haul" (click)="showHaul($event)" styleClass="ui-button-secondary" class="footer-button" icon="pi pi-plus" iconPos="left"></p-button>
        <p-button label="Edit" (click)="showHaul($event, 'edit')" [disabled]="!selectedRow" styleClass="ui-button-secondary" class="footer-button" icon="pi pi-pencil" iconPos="left"></p-button>
        <p-button label="Delete" [disabled]="!selectedRow" styleClass="ui-button-secondary" class="footer-button" icon="pi pi-times" iconPos="left"></p-button>
        <p-button label="END" [disabled]="!selectedRow" class="footer-button danger-button" icon="pi pi-exclamation-triangle" iconPos="left"></p-button>
        &nbsp;
        <div style="float:right; margin-right:50px">
            <p-button label="Catch" styleClass="ui-button-secondary" class="footer-button"></p-button>
            <p-button label="Notes" styleClass="ui-button-secondary" class="footer-button"></p-button>
        </div>
        
      </div>
  
    </div>

</div>

