<div>
  <!--
    <h2 class="mat-h2">
      Haul # {{ haulForm.value['haul_num'] }} Details
      <span *ngIf="currentProgram !== 'AHSOP'" style="float:right">
        Bio List: {{ haulForm.value['bio_list'] }}
      </span>
    </h2>
  -->
  <form mat-form [formGroup]="haulForm" class="form-text">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Haul Start">
        <div class="row">
          <div class="col-4">
            <div class="form-field">
              <span class="form-label">Gear Type:</span>
              <p-selectButton
                [options]="gearTypes"
                formControlName="gear_type"
                (onChange)="onGearSelect($event)"
                class="form-text"
              ></p-selectButton>
            </div>

            <div class="form-field" *ngIf="currentProgram !== 'ASHOP'">
              <span class=" form-label">Target Strategy:</span>
              <p-dropdown
                [options]="exampleSpecies"
                formControlName="target_strategy"
                [filter]="true"
                class="form-text"
                [autoWidth]="false"
              ></p-dropdown>
            </div>

            <div class="form-field" *ngIf="currentProgram === 'ASHOP'">
              <span class=" form-label">EM or Observer?:</span>
              <p-selectButton
                [options]="emObsOptions"
                formControlName="em_or_observer"
                class="form-text"
              ></p-selectButton>
            </div>

            <div class="form-field">
              <span class=" form-label">Vessel Type:</span>
              <p-dropdown
                [options]="options"
                formControlName="vessel_type"
                class="form-text"
                [autoWidth]="false"
              ></p-dropdown>
            </div>

            <div class="form-field">
              <span class=" form-label">Sample Unit Type:</span>
              <input
                type="text"
                pInputText
                formControlName="sample_unit_type"
                class="form-text"
              />
            </div>
          </div>

          <div class="col-4">
            <div class="form-field">
              <span class=" form-label">BRD Present?:</span>
              <p-selectButton
                [options]="booleanValues"
                formControlName="brd_present"
                class="form-text"
              ></p-selectButton>
            </div>

            <div *ngIf="currentProgram !== 'ASHOP'" class="form-field">
              <span class="form-label">EFP?:</span>
              <p-selectButton
                [options]="booleanValues"
                formControlName="efp"
                class="form-text"
              ></p-selectButton>
            </div>

            <div *ngIf="currentProgram === 'ASHOP'">
              <div class="form-field">
                <span class=" form-label">Delivery Vessel ID:</span>
                <p-dropdown
                  [options]="options"
                  formControlName="delivery_vessel_id"
                  class="form-text"
                  [autoWidth]="false"
                ></p-dropdown>
              </div>

              <div class="form-field">
                <span class=" form-label">Tribal Code:</span>
                <p-dropdown
                  [options]="options"
                  formControlName="tribal_code"
                  class="form-text"
                  [autoWidth]="false"
                ></p-dropdown>
              </div>

              <div class="form-field">
                <span class=" form-label">Sample Design:</span>
                <input
                  type="text"
                  pInputText
                  formControlName="sample_design"
                  class="form-text"
                />
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-field">
              <span class=" form-label">OTC Weight Method:</span>
              <p-selectButton
                [options]="wms"
                formControlName="wm"
                class="form-text"
              ></p-selectButton>
            </div>

            <div
              *ngIf="
                currentGearType === 'Fixed Gear' || currentProgram === 'ASHOP'
              "
              class="form-field"
            >
              <span class=" form-label">Seabird Avoidance?:</span>
              <p-selectButton
                [options]="booleanValues"
                formControlName="seabird_avoidance"
                class="form-text"
              ></p-selectButton>
            </div>

            <div *ngIf="currentProgram === 'ASHOP'" class="form-field">
              <span class=" form-label">Haulback Bird Observation Code:</span>
              <p-dropdown
                [options]="options"
                formControlName="haulback_bird_observation_code"
                class="form-text"
                [autoWidth]="false"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Haul End">
        <div class="row">
          <div class="col-4">
            <div class="form-field">
              <span class=" form-label">OTC:</span>
              <input
                type="number"
                pInputText
                formControlName="otc"
                class="form-text"
              />
            </div>

            <div class="form-field">
              <span class="form-label">Haul Sampled?</span>
              <p-selectButton
                [options]="booleanValues"
                formControlName="haul_sampled"
                class="form-text"
              ></p-selectButton>
            </div>

            <div *ngIf="currentProgram === 'ASHOP'">
              <div class="form-field">
                <span class=" form-label">Shortwired?:</span>
                <p-selectButton
                  [options]="booleanValues"
                  formControlName="shortwired"
                  class="form-text"
                ></p-selectButton>
              </div>

              <div class="form-field">
                <span class=" form-label">Observer Catch Estimate:</span>
                <input
                  type="number"
                  pInputText
                  formControlName="observer_catch_estimate"
                  class="form-text"
                />
              </div>

              <div class="form-field">
                <span class=" form-label">Vessel Catch Estimate:</span>
                <input
                  type="number"
                  pInputText
                  formControlName="vessel_catch_estimate"
                  class="form-text"
                />
              </div>
            </div>
          </div>

          <div class="col-8">
            <div class="row">
              <div class="col-6">
                <div
                  *ngIf="
                    currentGearType === 'Fixed Gear' &&
                    currentProgram !== 'ASHOP'
                  "
                >
                  <div class="form-field">
                    <span class=" form-label">Total Hooks / Post Set:</span>
                    <input
                      type="number"
                      pInputText
                      formControlName="total_hookspots_set"
                      class="form-text"
                    />
                  </div>

                  <div class="form-field">
                    <span class=" form-label"
                      >Average Soak Time (hh:mm:ss):</span
                    >
                    <p-inputMask
                      formControlName="avg_soak_time"
                      mask="99:99:99"
                      class="form-text"
                    ></p-inputMask>
                  </div>
                </div>

                <div *ngIf="currentProgram === 'ASHOP'">
                  <div class="form-field">
                    <span class=" form-label">Sampled By:</span>
                    <p-dropdown
                      [options]="options"
                      formControlName="sampled_by"
                      class="form-text"
                      [autoWidth]="false"
                    ></p-dropdown>
                  </div>

                  <div class="form-field">
                    <span class=" form-label">Sample Type:</span>
                    <p-dropdown
                      [options]="options"
                      formControlName="sample_type"
                      class="form-text"
                      [autoWidth]="false"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div
                  *ngIf="
                    currentGearType === 'Fixed Gear' &&
                    currentProgram !== 'ASHOP'
                  "
                  class="form-field"
                >
                  <span class=" form-label"># Hooks / Pots Lost:</span>
                  <input
                    type="number"
                    pInputText
                    formControlName="num_hookspots_lost"
                    class="form-text"
                  />
                </div>

                <div *ngIf="currentProgram === 'ASHOP'">
                  <div class="form-field">
                    <span class=" form-label">Marine Mammal Monitored %:</span>
                    <input
                      type="number"
                      pInputText
                      formControlName="percent_marine_mammal_monitored"
                      class="form-text"
                    />
                  </div>

                  <div class="form-field">
                    <span class=" form-label">Estimated Discard Weight:</span>
                    <input
                      type="number"
                      pInputText
                      formControlName="estimated_discard_weight"
                      class="form-text"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-field">
                <span class=" form-label"
                  >Gear Performance:&nbsp;
                  <span
                    [innerText]="
                      getGearPerfDescription(haulForm.value['gear_perf'])
                    "
                  ></span
                ></span>
                <p-selectButton
                  [options]="perfOptions"
                  formControlName="gear_perf"
                ></p-selectButton>
              </div>

              <div class="form-field">
                <span class=" form-label">Beaufort Scale:&nbsp;</span>
                <p-selectButton
                  [options]="beaufortScaleOptions"
                  formControlName="beaufort_scale"
                ></p-selectButton>
                <span
                  class=" form-label"
                  [innerText]="
                    getBeaufortScaleDescription(
                      haulForm.value['beaufort_scale']
                    )
                  "
                ></span>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Haul Locations">
        <p-table
          [columns]="cols"
          [value]="haul.locations"
          selectionMode="single"
          [scrollable]="true"
          scrollHeight="500px"
          [(selection)]="selectedRow"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width" />
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">{{ col.header }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <ng-container *ngFor="let col of columns">
                <div *ngIf="col.field === 'date_time'; else: not_datetime">
                  <td>
                    {{ rowData[col.field] | date: 'EEE, MM/dd/yyyy HH:mm' }}
                  </td>
                </div>

                <ng-template #not_datetime>
                  <td>{{ rowData[col.field] }}</td>
                </ng-template>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>

    <div class="footer" style="float:right">
      <div class="footer-contents">
        <a class="footer-link" (click)="onCancelBack()">Hauls</a>

        <p-button
          label="New Location"
          (click)="showLocationDialog()"
          styleClass="ui-button-secondary"
          class="footer-button"
          icon="pi pi-plus"
          iconPos="left"
        ></p-button>
        <p-button
          label="Edit"
          [disabled]="!selectedRow"
          (click)="showLocationDialog('edit')"
          styleClass="ui-button-secondary"
          class="footer-button"
          icon="pi pi-pencil"
          iconPos="left"
        ></p-button>
        <p-button
          label="Delete"
          [disabled]="!selectedRow"
          (click)="showDeleteConfirmation()"
          styleClass="ui-button-secondary"
          class="footer-button"
          icon="pi pi-times"
          iconPos="left"
        ></p-button>

        &nbsp;
        <div style="float:right; margin-right:50px">
          <p-button
            label="Catch"
            styleClass="ui-button-secondary"
            class="footer-button"
          ></p-button>
          <p-button
            label="Notes"
            styleClass="ui-button-secondary"
            class="footer-button"
          ></p-button>
        </div>
      </div>
    </div>
  </form>
</div>

<p-dialog
  header="Add/Edit Location"
  [(visible)]="displayDialog"
  [contentStyle]="{ overflow: 'visible' }"
  class="form-text"
>
  <form (click)="logChanges()" [formGroup]="locationForm" class="form-text">
    <div class="row">
      <div class="form-field">
        <span class="form-label">Type:</span>
        <p-selectButton
          [options]="location_types"
          formControlName="location_type"
        ></p-selectButton>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="form-field">
          <span class="form-label">Date:</span>
          <p-calendar
            formControlName="date_time"
            id="date_time"
            class="form-text"
          ></p-calendar>
        </div>

        <div class="form-field">
          <span class="form-label">Time:</span>
          <p-inputMask
            formControlName="time"
            id="time"
            mask="99:99"
            class="form-text"
          ></p-inputMask>
        </div>

        <div class="form-field">
          <span class="form-label">Fishing Depth:</span>
          <input
            type="number"
            id="fishing_depth"
            pInputText
            formControlName="fishing_depth"
            class="form-text"
          />
        </div>
      </div>

      <div class="col-1">&nbsp;</div>

      <div class="col-5">
        <div class="form-field">
          <span class="form-label">Latitude:</span>
          <p-inputMask
            formControlName="latitude"
            id="latitude"
            class="form-text"
            mask="+99°99.99'"
          ></p-inputMask>
        </div>

        <div class="form-field">
          <span class="form-label">Longitude:</span>
          <p-inputMask
            formControlName="longitude"
            id="longitude"
            class="form-text"
            mask="-999°99.99'"
          ></p-inputMask>
        </div>

        <div class="form-field">
          <span class="form-label">Bottom Depth:</span>
          <input
            type="number"
            pInputText
            formControlName="bottom_depth"
            id="bottom_depth"
            class="form-text"
          />
        </div>
      </div>
    </div>

    <p-button
      label="Cancel"
      (click)="onCancelAddEdit()"
      class="footer-button danger-button"
      icon="pi pi-times"
      iconPos="left"
    ></p-button>
    <p-button
      label="OK"
      (click)="onLocationSubmit()"
      class="footer-button default-button"
      icon="pi pi-check"
      iconPos="left"
    ></p-button>
  </form>
</p-dialog>

<p-dialog header="WARNING" [(visible)]="deleteConfirm" class="form-text">
  <span class="form-text"
    >Are you sure you want to delete the selected location? <br />(This
    operation cannot be undone!)</span
  ><br /><br />
  <p-button
    label="Cancel"
    (click)="onCancelDelete()"
    class="footer-button default-button"
    icon="pi pi-times"
    iconPos="left"
  ></p-button>
  <p-button
    label="OK"
    (click)="onDelete()"
    class="footer-button danger-button"
    icon="pi pi-check"
    iconPos="left"
  ></p-button>
</p-dialog>
