<form mat-form [formGroup]="userForm">
  <div class="flex-grid vm5">
    <span class="col pv6"><strong>First Name: </strong></span>
    <input class="col2" type="text" pInputText formControlName="first_name"/>
  </div>
  <div class="flex-grid vm5">
    <span class="col pv6"><strong>Last Name: </strong></span>
    <input class="col2" type="text" pInputText formControlName="last_name"/>
  </div>
  <div class="flex-grid vm5">
    <span class="col pv6"><strong>Email: </strong></span>
    <input class="col2" type="text" pInputText formControlName="email"/>
  </div>
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>Mobile: </strong></span>
      <input class="col2" type="text" pInputText formControlName="mobile"/>
    </div>
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>Home: </strong></span>
      <input class="col2" type="text" pInputText formControlName="home"/>
    </div>
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>Address: </strong></span>
      <input class="col2" type="text" pInputText formControlName="address"/>
    </div>  
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>City: </strong></span>
      <input class="col2" type="text" pInputText formControlName="city"/>
    </div>  
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>State: </strong></span>
      <input class="col2" type="text" pInputText formControlName="state"/>
    </div>  
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>Zip: </strong></span>
      <input class="col2" type="text" pInputText formControlName="zip"/>
    </div>   
  <div class="flex-grid vm5">
      <span class="col pv6"><strong>Home Port: </strong></span>
      <input class="col2" type="text" pInputText formControlName="home_port"/>    
  </div> 
</form>
