<div class="card" >
  <div class="card-heading desktop">User Details:<br></div>
  <div class="card-contents">
    
    <form mat-form [formGroup]="userForm">

      <br>
      <div class="ui-float-label">
        <input type="text" pInputText formControlName="first_name" style="width:100%"/>
        <label for="first_name">First Name</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
        <input type="text" pInputText formControlName="last_name" style="width:100%"/>
        <label for="last_name">Last Name</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
        <input type="text" pInputText formControlName="email" style="width:100%"/>
        <label for="email">Email</label>
      </div>
      <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="mobile" style="width:100%"/>
          <label for="mobile">Mobile</label>
        </div>
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="home" style="width:100%"/>
          <label for="home">Home Phone</label>
        </div>
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="address" style="width:100%"/>
          <label for="address">Address</label>
        </div>  
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="city" style="width:100%"/>
          <label for="city">City</label>
        </div>  
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="state" style="width:100%"/>
          <label for="state">State</label>
        </div>  
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="zip" style="width:100%"/>
          <label for="zip">Zip Code</label>
        </div>   
        <div class="card-input-divider"></div>
      <div class="ui-float-label">
          <input type="text" pInputText formControlName="home_port" style="width:100%"/>   
          <label for="home_port">Home Port</label> 
      </div> 
    </form>
  
  </div>

</div> 