
<div class="card">
    <div class="card-heading">{{ vessel.vessel_name }}</div>

    <div class="card-contents">
        <div class="card-input-label">Vessel Reg Num:</div>    <div>{{ vessel.coast_guard_number? vessel.coast_guard_number:vessel.vessel_reg_num }}</div>
        <div class="card-input-label">State:</div>    <div>{{ vessel.state }}</div>        
        <hr>
        <div class="card-input-label">Port Name:</div>    <div>{{ vessel.port_name }}</div>
        <!-- <div class="card-input-label">IFQ Port Code:</div>    <div>{{ vessel.ifq_port_code }}</div> 
        <div class="card-input-label">IFQ Port Id:</div>    <div>{{ vessel.ifq_port_id }}</div>        
        <div class="card-input-label">Port Code:</div>    <div>{{ vessel.port_code }}</div>
        <div class="card-input-label">Port Group:</div>    <div>{{ vessel.port_group }}</div>
        <div class="card-input-label">Port Id:</div>    <div>{{ vessel.port_id }}</div> --> 
        <!-- <div class="card-input-label">Vessel Type:</div>    <div>{{ vessel.type }}</div>
        <div class="card-input-label">Vessel Status:</div>    <div>{{ vessel.vessel_status }}</div>  
        <div class="card-input-label">Registered Length ({{vessel.registered_length_um}}):</div>    <div>{{ vessel.registered_length }}</div>
        <div class="card-input-label">Safety Decal Expiration:</div>    <div>{{ vessel.safety_decal_exp? vessel.safety_decal_exp:'N/A' }}</div>
        <div class="card-input-label">Is Mothership:</div>    <div>{{ vessel.is_mothership? 'Yes':'No' }}</div> -->
        <hr>
        <div class="card-input-label">Permits:</div>     <div>{{ vessel.permits? vessel.permits.length:'-' }}</div>
        <div class="card-input-label">Notes:</div>    <div>{{ vessel.notes? vessel.notes.length:'-' }}</div>
        
    </div>
</div>

<app-footer></app-footer>

<!-- <form mat-form [formGroup]="vesselForm">
    <div >
        <div><strong>Vessel Name: </strong></div>
        <input style="width: 100%" type="text" pInputText formControlName="vessel_name"/>
    </div>
    <br>
    <div >
        <div><strong>Vessel Reg Number: </strong></div>
        <input style="width: 100%" type="text" pInputText formControlName="vessel_reg_num"/>
    </div>
</form> -->

