<div class="homeButtons mat-app-background">
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/hauls" mat-raised-button>Hauls</button>
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/speciesComposition"  [disabled]="(currentHaul | async) === undefined" mat-raised-button>Species Composition</button>
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/reports" mat-raised-button>Reports</button>
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/serialPorts" mat-raised-button>Serial Ports</button>
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/settings" mat-raised-button>Settings</button>
  <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/test" mat-raised-button>Test</button>
</div>
