<form mat-form [formGroup]="userForm">
  <div>
    <span><strong>First Name:</strong></span>
    <input type="text" pInputText formControlName="first_name"/>
  </div>
  <div>
    <span><strong>Last Name:</strong></span>
    <input type="text" pInputText formControlName="last_name"/>
  </div>
  <div>
    <span><strong>Email:</strong></span>
    <input type="text" pInputText formControlName="email"/>
  </div>
  <div>
      <span><strong>Phone:</strong></span>
      <input type="text" pInputText formControlName="phone"/>
    </div>
</form>
