<!-- <div style="text-align: center">

    <h3>Year to Date Coverage Achieved:  17%</h3>
    <button mat-raised-button color="primary">Edit Coverage Rate</button>
    <br><br>

    TARGET RATE HISTORY:
    <br><br>

    <div *ngFor="let rate of previous_covereage_rates, let i = index"> 

      <div [ngClass]="{current_active: i === 0, default_item_border: true }">
        Target Rate: {{ rate.rate }}<br>
        <div style="float:left">
            Start Date: {{ rate.start_date }}
          </div>
        <div style="float:right">
            End Date: {{ rate.end_date }}
          </div>  
          <br>   
      </div>
          
    </div>

  </div> -->

  
 <div class="flex-grid flow-wrap">

  <div class="col4">
    <h2 style="text-align: center; text-transform: uppercase">Fishery Coverage Targets:</h2>

    <a routerLink="/ots-target-detail">
      <div class="ots-new-target">New Fishery Target</div>
    </a>

    <div *ngFor="let coverage of ots_coverages" routerLink="/ots-target-detail" (click)="setOtsTarget(coverage)">
      <div *ngIf="coverage.coverage_type === 'fishery'" class="side-by-side-boxes">
        <div class="ots-target">{{ coverage.coverage_target }}</div>
        <br>
        <div class="flex-grid">
          <div class="col2 flex-grid">
            <div class="col2">
                <div class="ots-label">TARGET: </div>
                <div class="ots-label">START: </div>
                <div class="ots-label">END: </div>
            </div>

            <div class="col2">
              <div class="ots-value">{{ coverage.rate }}</div>
              <div class="ots-value">{{ coverage.start_date }}</div>
              <div class="ots-value">{{ coverage.end_date }}</div>
            </div>
            <div class="col2">
            </div>

          </div>
          <div class="col3">
              <p-chart type="pie" [data]="data"  width="10vw" height="10vh" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col4 ">
      <h2 style="text-align: center; text-transform: uppercase">Port Coverage Targets: </h2>

      <a routerLink="/ots-target-detail">
        <div class="ots-new-target">New Port Target</div>     
      </a>

      <div *ngFor="let coverage of ots_coverages" routerLink="/ots-target-detail" (click)="setOtsTarget(coverage)">
          <div *ngIf="coverage.coverage_type === 'port'" class="side-by-side-boxes">
            <div  class="ots-target">{{ coverage.coverage_target }}</div>
            <br>
            <div class="flex-grid">
              <div class="col2 flex-grid">
                <div class="col2">
                    <div class="ots-label">TARGET: </div>
                    <div class="ots-label">START: </div>
                    <div class="ots-label">END: </div>
                </div>
    
                <div class="col2">
                  <div class="ots-value">{{ coverage.rate }}</div>
                  <div class="ots-value">{{ coverage.start_date }}</div>
                  <div class="ots-value">{{ coverage.end_date }}</div>
                </div>
                <div class="col2">
                </div>
    
              </div>
              <div class="col3">
                  <p-chart type="pie" [data]="data"  width="10vw" height="10vh" [options]="chartOptions"></p-chart>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="col4">
    <h2 style="text-align: center; text-transform: uppercase">Vessel Coverage Targets:</h2>

    <a routerLink="/ots-target-detail">
      <div class="ots-new-target">New Vessel Target</div>
    </a>

    <div *ngFor="let coverage of ots_coverages" routerLink="/ots-target-detail" (click)="setOtsTarget(coverage)">
        <div *ngIf="coverage.coverage_type === 'vessel'" class="side-by-side-boxes">
          <div class="ots-target">{{ coverage.coverage_target }}</div>
          <br>
          <div class="flex-grid">
            <div class="col2 flex-grid">
              <div class="col2">
                  <div class="ots-label">TARGET: </div>
                  <div class="ots-label">START: </div>
                  <div class="ots-label">END: </div>
              </div>
  
              <div class="col2">
                <div class="ots-value">{{ coverage.rate }}</div>
                <div class="ots-value">{{ coverage.start_date }}</div>
                <div class="ots-value">{{ coverage.end_date }}</div>
              </div>
              <div class="col2">
              </div>
  
            </div>
            <div class="col3">
                <p-chart type="pie" [data]="data"  width="10vw" height="10vh" [options]="chartOptions"></p-chart>
            </div>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
