.ots-value {
    background-color: #0093D0;
    color: white;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 3px;
    font-weight: bold;
}

.ots-label {
    padding: 3px 7px;
    margin: 3px;
    font-weight: bold;
}

.ots-target {
    font-weight: bold;
    color: #0093D0;
    text-transform: uppercase;
    text-decoration: underline;
}

.ots-new-target {
    text-align: center;
    font-weight: bold;
    color: #0093D0;
    border: 2px dashed #0093D0;
    border-radius: 15px; 
    background-color: white;  
    padding: 20px; 
    margin: 15px;
    text-transform: uppercase;
}
