.version {
  font-size: small;
}
.username {
  font-size: small;
}
.header-text {
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
}
.header-icon {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
