<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/home']" class="header-icon">
    <mat-icon>home</mat-icon>
    <span class="header-text">&nbsp;Cutter Station</span>
  </button>

  <div *ngIf="(currentScreen | async) !== 'Home'" class="header-icon">
    <mat-icon>chevron_right</mat-icon>
    <span class="header-text">&nbsp;{{currentScreen | async}}&nbsp;</span>
  </div>

  <span fxFlex="1 1 auto"></span>

  <div *ngIf="currentHaul | async" class="header-icon">
    <mat-icon>directions_boat</mat-icon>
    <span class="header-text">&nbsp;&nbsp;Haul #:&nbsp;{{haulNumber | async}}</span>
  </div>

  <span fxFlex="1 1 auto"></span>

  <!-- Hauls Screen Items -->
  <div *ngIf="(currentScreen | async) === 'Hauls'">
    <button mat-button [routerLink]="['/speciesComposition']"
            [disabled]="(currentHaul | async) === undefined">
      <span class="header-text">&nbsp;Species Composition</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <!-- Species Composition Screen Items -->
  <div *ngIf="(currentScreen | async) === 'Species Composition'">
    <!--
    <mat-slide-toggle (click)="toggleSpeciesList(speciesListSelected);">{{speciesListSelected}}</mat-slide-toggle>
    -->
    <button mat-icon-button *ngIf="(speciesListShown | async)">
      <mat-icon (click)="closeSpeciesList();">chevron_right</mat-icon>
    </button>
    &nbsp;&nbsp;
    <mat-form-field floatLabel="never" class="header-text">
      <mat-label>Add Species</mat-label>
      <input matInput autocomplete="off"
        (click)="speciesClicked();" (input)="filterSpecies($event.target.value)" [(ngModel)]="value">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value='';filterSpecies(value);">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <span>&nbsp;&nbsp;</span>
    <button style="width: 200px; font-size:18px;" mat-button (click)="toggleSpeciesList(speciesListSelected);">{{speciesListSelected}}</button>

  </div>

</mat-toolbar>
