<div class="wrapper">
  <button mat-raised-button (click)="onNumpadKey('7')">7</button>
  <button mat-raised-button (click)="onNumpadKey('8')">8</button>
  <button mat-raised-button (click)="onNumpadKey('9')">9</button>
  <button mat-raised-button (click)="onNumpadKey('bksp')">
    <i class="pi pi-arrow-left" style="font-size: 24px"></i>
  </button>
  <button mat-raised-button (click)="onNumpadKey('4')">4</button>
  <button mat-raised-button (click)="onNumpadKey('5')">5</button>
  <button mat-raised-button (click)="onNumpadKey('6')">6</button>
  <p></p>
  <button mat-raised-button (click)="onNumpadKey('1')">1</button>
  <button mat-raised-button (click)="onNumpadKey('2')">2</button>
  <button mat-raised-button (click)="onNumpadKey('3')">3</button>
  <p></p>
  <button mat-raised-button (click)="onNumpadKey('0')">0</button>
  <button mat-raised-button *ngIf="showDecimal" (click)="onNumpadKey('.')">
    .
  </button>
  <p *ngIf="!showDecimal"></p>
  <button mat-raised-button *ngIf="showOk" (click)="onNumpadKey('OK')">
    OK
  </button>
  <button
    mat-raised-button
    *ngIf="showAdd"
    class="add-button"
    (click)="onNumpadKey('ADD')"
  >
    ADD
  </button>
</div>
