:host {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

.loginError {
  padding: 16px;
  width: 90%;
  color: white;
  background-color: red;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
