$btn_line_height: 30px;
$tally_btn_width: 100px;
$tally_btn_height: 100px;
$ctl_btn_height: 75px;

body {
  margin: 40px;
}


::ng-deep .mat-app-background {
  background-color: white !important;
}

.tally-buttons {
  display: grid;
  margin: 5px;
  grid-row-gap: 11px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(4, auto);
  height: 70vh;
}

%tally-btn-shared {
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  white-space: pre;
  line-height: $btn_line_height;
  font-size: x-large;
  min-width: $tally_btn_width;
  min-height: $tally_btn_height;
}

.sfty-btn,
.dock-btn,
.acci-btn,
.used-btn,
.reg-btn,
.othr-btn {
  @extend %tally-btn-shared;
  background-color: lightyellow;
  color: black;
}

.mkt-btn {
  @extend %tally-btn-shared;
  background-color: lightgreen;
  color: black;
}

.drop-btn {
  @extend %tally-btn-shared;
  background-color: lightskyblue;
  color: black;
}

.pred-btn {
  @extend %tally-btn-shared;
  background-color: lightcoral;
  color: black;
}

.ret-btn {
  @extend %tally-btn-shared;
  background-color: green;
  color: white;
  border-radius: 4px;
  border-width: 2px;
}

.invis-btn {
  // @extend %tally-btn-shared;
  visibility: hidden;
  min-width: $tally_btn_width;
  min-height: $tally_btn_height;
}

.empty-btn {
  @extend %tally-btn-shared;
  border-radius: 1px;
  border-width: 1px;
  border-style: dashed;
}

.temp-btn {
  @extend %tally-btn-shared;
  background-color: purple;
  color: white;
  border-radius: 4px;
  border-width: 2px;
}

.root-buttons {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-column-gap: 5px;
  margin: 5px;
  margin-right: 5px;
  min-height: $ctl_btn_height;
  height: $ctl_btn_height;
}

.modify-buttons {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-column-gap: 10px;
  margin: 5px;
  margin-right: 5px;
  min-height: $ctl_btn_height;
}

.add-tally-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 5px;
  margin: 5px;
  margin-right: 5px;
  min-height: $ctl_btn_height;
}

.all-tally-buttons {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-column-gap: 10px;
  margin-right: 5px;
  min-height: $ctl_btn_height;
}

.short-btn {
  min-height: $ctl_btn_height;
  height: $ctl_btn_height;
}

%ctl-btn-shared {
  white-space: pre;
  line-height: 20px;
  font-size: medium;
}

.ctl-btn {
  @extend %ctl-btn-shared;
  background-color: lightgray;
  color: black;
  min-width: 50px;
  min-height: $ctl_btn_height;
  height: $ctl_btn_height;
}

.cur-btn {
  @extend %ctl-btn-shared;
  background-color: green;
  color: white;
  min-width: 50px;
  min-height: $ctl_btn_height;
  border-style: dotted;
  height: $ctl_btn_height;
}

.warning-btn {
  @extend %ctl-btn-shared;
  background-color: red;
  color: white;
  min-width: 50px;
  height: $ctl_btn_height;
}

.tally-dec-btn {
  @extend %ctl-btn-shared;
  background-color: crimson;
  color: white;
  min-width: 50px;
  height: $ctl_btn_height;
}

.tally-inc-btn {
  @extend %ctl-btn-shared;
  background-color: lightblue;
  color: black;
  min-width: 50px;
  height: $ctl_btn_height;
}

.tally-incdec-mini {
  padding-left: 5px;
  min-width: 55px;
  margin-right: 5px;
}
.tally-done-btn {
  @extend %ctl-btn-shared;
  min-width: 55px;
  background-color: crimson;
  color: white;
  padding-left: 5px;
  line-height: 25px;
  font-size: small;
}

.mini-tally-btn {
  font-size: 120%;
  border-radius: 10px;
  min-width: 60px;
  padding-left: 5px;
  line-height: 20px;
  height: $ctl_btn_height;
  min-height: $ctl_btn_height;
}
