
<mat-menu #appMenu="matMenu" style="justify-content: left">
  <button mat-menu-item routerLink="trips">Trips&nbsp;<mat-icon>directions</mat-icon></button> 
  <button mat-menu-item routerLink="debriefer">Debriefer&nbsp;<mat-icon>beenhere</mat-icon></button>
  <button mat-menu-item routerLink="user-config">User Config&nbsp;<mat-icon>person</mat-icon></button>
  <button mat-menu-item routerLink="manage-users">Manage Users&nbsp;<mat-icon>people</mat-icon></button>
  <button mat-menu-item routerLink="manage-vessels">Manage Vessels&nbsp;<mat-icon>directions_boat</mat-icon></button>
  <button mat-menu-item routerLink="manage-permits">Manage Permits&nbsp;<mat-icon>confirmation_number</mat-icon></button>
  <button mat-menu-item routerLink="ots-management">OTS Management&nbsp;<mat-icon>waves</mat-icon></button >
    <div *ngIf="!loggedIn">
      <hr>
      <button  mat-menu-item routerLink="login" (click)="logOut()">Log Out</button >
    </div>
</mat-menu>

<!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" > -->
  <mat-icon style="font-size: 30px;" [matMenuTriggerFor]="appMenu">menu</mat-icon>
<!-- </button> -->
