.homeButtons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-top: 10px;
}

.large-button {
  border-radius: 5px;
  padding: 10px;
  font-size: 125%;
}
