/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #DCE8E7;
}

.container {
    margin: 55px 10px 10px 10px;
 
}

.default_item_border {
    border: 2px solid black; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    padding: 10px; 
    margin: 10px 0; 
    text-align: left
}

.narrow_item_border {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    font-weight: bold;
    font-size: 15px;
    padding: 3px; 
    margin: 5px 0; 
}

.selected {
    border: 2px solid #0093D0;   
    color: #0093D0; 
}

.closed_item_border {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    font-weight: bold;
    font-size: 15px;
    padding: 3px; 
    margin: 10px 0; 
    color: grey;
}

.current_active {
    border: 2px solid #0093D0; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    padding: 10px; 
    margin: 10px 0; 
    text-align: left
}

.trip-data, .user-data {
    font-size: larger
}

.trip-data strong, .user-data strong {
    color: #0093D0;
}

.vertical-align {
    height: 1em;
    line-height: 1em;
    text-align: center;
}

.activeitem {
    color: #0093D0;
    border: 2px solid #0093D0;     
}

.list-items {
    font-weight: bold;
}



.centered-spinner {
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 100px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.flex-grid {
    display: flex;
  }

.flow-wrap {
    flex-flow: row wrap;
}

.side-by-side-boxes {
    border: 2px solid #0093D0; 
    border-radius: 15px; 
    background-color: white;  
    padding: 20px; 
    margin: 15px;

}

.col {
    flex: 1;
  }

.col2 {
    flex: 2;
}

.col4 {
    flex: 4;
}

.col8 {
    flex: 8
}

.vm5 {
    margin: 5px 0;
}

.mat-icon-button {
    background-color: #0093D0;
}

.footer button {
    margin: 10px;
}

.pv6 {
    padding: 6px 0
}

.mb5 {
    margin-bottom: 5px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between
}

@media only screen and (max-width: 414px) {
    .closed_item_border {
        border: 2px solid grey; 
        border-radius: 5px; 
        background-color: white; 
    }
}

@media (min-width: 415px) {
    .closed_item_border {
        border-top: 2px solid grey;
    }
}

@media (max-width: 414px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 415px) {
    .desktop {
        margin-top: 10px;
        margin-bottom: -10px;
        display: flex;
        justify-content: space-between
    }
}

@media only screen and (max-width: 414px) {
    .narrow_item_border {
        border: 2px solid black; 
        border-radius: 5px; 
        background-color: white; 
    }
}

@media only screen and (min-width: 415px) {
    .narrow_item_border {
        border-top: 2px solid #0093D0;  
        color: #0093D0;
    }
}

@media only screen and (max-width: 415px) {
    .selected {
        border: 2px solid #0093D0;  
    }
}

@media (min-width: 415px) {
    body {
        background-color: white;
    }
}
