/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #DCE8E7;
}

.container {
    margin: 55px 10px 10px 10px;
 
}

.default_item_border {
    border: 2px solid black; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    padding: 10px; 
    margin: 10px 0; 
    text-align: left
}

.narrow_item_border {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    border: 2px solid black; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    font-size: 15px;
    padding: 3px; 
    margin: 10px 0; 
}

.closed_item_border {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    border: 2px solid grey; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    font-size: 15px;
    padding: 3px; 
    margin: 10px 0; 
    color: grey;
}

.current_active {
    border: 2px solid #0093D0; 
    border-radius: 5px; 
    background-color: white; 
    font-weight: bold;
    padding: 10px; 
    margin: 10px 0; 
    text-align: left
}

.trip-data {
    font-size: larger
}

.trip-data strong {
    color: #0093D0;
}

.vertical-align {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.activeitem {
    color: #0093D0;
    border: 2px solid #0093D0;     
}

.flex-grid {
    display: flex;
  }

.col {
    flex: 1;
  }