<mat-toolbar color="primary">
  <span *ngIf="!currentUser">Observer Login</span>
  <span fxLayoutAlign="center center" *ngIf="currentUser">
    <mat-icon>{{isAdmin ? "supervisor_account" : "account_circle"}}</mat-icon> &nbsp;
    <span class="username">{{currentUser.username}}: </span>
    <span class="program">{{currentProgramName}}</span> &nbsp;
  </span>
  <span fxFlex="1 1 auto"></span>
  <div *ngIf="tripSelected | async">
    <mat-icon>directions_boat</mat-icon>
  </div>
  <span fxLayoutAlight="center center" class="header-status">{{headerStatus | async}}</span>
  <span fxFlex="1 1 auto"></span>
  <span *ngIf="showVersion" class="version">Version {{version}}, DB:
    <span class="db-name">{{dbName}}</span>
  </span>
  <span *ngIf="currentState && debug_mode">&nbsp;(state={{currentState.name}})</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="currentUser">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="showHome" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button *ngIf="isAdmin" mat-menu-item [routerLink]="['/users']">
      <mat-icon>supervisor_account</mat-icon>
      <span>User Management</span>
    </button>
    <button *ngIf="showTemplateManager" mat-menu-item (click)="onShowTemplateMgr()">
      <mat-icon>view_module</mat-icon>
      <span>Manage Templates</span>
    </button>
    <button *ngIf="showTallyPDF" mat-menu-item [routerLink]="['/tally/pdf']">
      <mat-icon>note</mat-icon>
      <span>Generate Tally PDF</span>
    </button>
    <button *ngIf="showBackup" mat-menu-item [routerLink]="['/backup']">
      <mat-icon>backup</mat-icon>
      <span>Backup DB</span>
    </button>
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>

  </mat-menu>
</mat-toolbar>
