<div class="current_active">

  <div class="flex-space-between">
      <span>Permit Number:</span>
      <span>{{ permit.permit_number }}</span>
  </div>  

  <div class="flex-space-between">
    <span>Vessel Name:</span>
    <span>{{ permit.vessel_name }}</span>
  </div>

  <div class="flex-space-between">
    <span>Vessel Registration Number:</span>
    <span>{{ permit.vessel_registration_number }}</span>
  </div>
  <br>

  <div>
    <div>Active Captains:</div>
    <p-multiSelect [options]="captains" [(ngModel)]="selectedCaptains" optionLabel="name" [filter]="true" [panelStyle]="{minWidth: '20em'}">
    </p-multiSelect>
  </div>

</div>
<app-footer></app-footer>