<div class="homeButtons mat-app-background">
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="isElectron" routerLink="/trips" mat-raised-button>Trips</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="isElectron" routerLink="/hauls" mat-raised-button>Hauls</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="!tripActive" mat-raised-button>Error Reports</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="!tripActive" mat-raised-button>BRD</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="!tripActive" mat-raised-button>Priority Species Report</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="!tripActive" mat-raised-button>Species Interaction</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="isElectron" mat-raised-button>Species Identification</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" [disabled]="!tripActive" mat-raised-button>Trip Discards</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" mat-raised-button [disabled]="!tripActive">End Trip</button>
    <button [ngClass]="{'large-button': isTabletMode | async}" routerLink="/tally" mat-raised-button>Tally</button>
</div>
