<mat-toolbar color="primary">

  <span *ngIf="(currentScreen | async) === 'Hauls'">

    <span class="footer">Filter:&nbsp;&nbsp;</span>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="footer-toggle" value="today" checked>Today</mat-button-toggle>
      <mat-button-toggle class="footer-toggle" value="twodays">Last 2 Days</mat-button-toggle>
      <mat-button-toggle class="footer-toggle" value="all">All</mat-button-toggle>
    </mat-button-toggle-group>

    <span [fxFlex]="spacing"></span>

    <button mat-button class="footer-button" aria-label="Font Style" (click)="addTestHaul();">Add Test Haul</button>

  </span>

  <span *ngIf="(currentScreen | async) === 'Species Composition'">

    <button mat-button class="footer-button">
      <mat-icon>fitness_center</mat-icon>
      <span>&nbsp;&nbsp;Weights &<br>Counts</span>
    </button>
    <button mat-button class="footer-button">
      <mat-icon>straighten</mat-icon>
      <span>&nbsp;&nbsp;Specimens</span>
    </button>
    <button mat-button class="footer-button">
      <mat-icon>star</mat-icon>
      <span>&nbsp;&nbsp;Special<br>Projects</span>
    </button>

    <mat-menu #configMenu="matMenu">
        <button mat-menu-item *ngIf="showHome" value="observer-wcgop-trawl" (click)="setType('observer-wcgop-trawl');">
          <span>WCGOP Trawl</span>
        </button>
        <button mat-menu-item *ngIf="showHome" value="observer-wcgop-fixedgear" (click)="setType('observer-wcgop-fixedgear');">
          <span>WCGOP Fixed Gear</span>
        </button>
        <button mat-menu-item *ngIf="showHome" value="observer-ashop" (click)="setType('observer-ashop');">
          <span>A-SHOP</span>
        </button>
        <button mat-menu-item *ngIf="showHome" value="survey-trawl" (click)="setType('survey-trawl');">
          <span>Trawl Survey</span>
        </button>
        <button mat-menu-item *ngIf="showHome" value="survey-hake" (click)="setType('survey-hake');">
          <span>Hake Survey</span>
        </button>
        <button mat-menu-item *ngIf="showHome" value="survey-hookandline" (click)="setType('survey-hookandline');">
          <span>Hook & Line Survey</span>
        </button>

      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="configMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!--
    <button mat-button class="footer-button" aria-label="Font Style" (click)="addTestHaul();">
      <mat-icon>fitness_center</mat-icon>&nbsp;&nbsp;Weights/Counts</button>
    <span [fxFlex]="spacing"></span>
    <button mat-button class="footer-button" aria-label="Font Style" (click)="addTestHaul();">
        <mat-icon>straighten</mat-icon>&nbsp;&nbsp;Specimen Sampling</button>
    <span [fxFlex]="spacing"></span>
    <button mat-button class="footer-button" aria-label="Font Style" (click)="addTestHaul();">
        <mat-icon>star</mat-icon>&nbsp;&nbsp;Special Actions</button>
    -->
  </span>

  <span fxFlex="1 1 auto"></span>

  <button mat-button class="footer-button" aria-label="Font Style">
    <mat-icon>note_add</mat-icon>
    <span>&nbsp;&nbsp;Notes</span>
  </button>

  <span [fxFlex]="spacing"></span>

  <span *ngIf="showVersion" class="version">Version {{version}}</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="showHome" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>
