/* styling from https://codepen.io/dannydns/pen/JYoYEQ/
   https://github.com/westonganger/bootstrap-directional-buttons */
.btn-arrow-right,
.btn-arrow-left,
.btn-arrow-right-only {
   position: relative;
   padding-left: 18px;
   padding-right: 18px;
}

.btn-arrow-right,
.btn-arrow-right-only {
   padding-left: 24px;
}

.btn-arrow-left {
   padding-right: 25px;
}

/* There's a default setting, so overriding it */
.q-btn--standard:not(.disabled):before {
   top: 5px;
   left: -12px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after,
.btn-arrow-right-only:after {
   /* make two squares (before and after), looking similar to the button */

   content: "";
   position: absolute;
   top: 5px;
   /* move it down because of rounded corners */

   width: 26px;
   /* same as height */

   height: 26px;
   /* button_outer_height / sqrt(2) */

   background: inherit;
   /* use parent background */

   border: inherit;
   /* use parent border */

   border-left-color: transparent;
   /* hide left border */

   border-bottom-color: transparent;
   /* hide bottom border */

   border-radius: 0px 4px 0px 0px;
   /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */

   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-right-only:after {
   transform: rotate(45deg);
   /* rotate right arrow squares 45 deg to point right */

   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
   transform: rotate(225deg);
   /* rotate left arrow squares 225 deg to point left */

   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
   /* align the "before" square to the left */ 
   left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after,
.btn-arrow-right-only:after {
   /* align the "after" square to the right */
   right: -12px;
}

.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-right-only:after {
   /* bring arrow pointers to front */
   z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
   /* hide arrow tails background */
   background-color: #027be3;
}

/* Button Groups */
.btn-group > .btn-arrow-left:hover, .btn-group > .btn-arrow-left:focus,
.btn-group > .btn-arrow-right:hover,
.btn-group > .btn-arrow-right:focus {
   z-index: initial;
}
