<div style="text-align: center">
  <div class="trip-data">
      <strong>{{ trip.vessel }}</strong> 
    <hr>
  </div>

  <form mat-form [formGroup]="tripForm">
        <div class="flex-grid">
            <span class="col pv6"><strong>Start Date: </strong></span>
            <p-calendar class="col2" formControlName="start_date" id="start_date" [touchUI]="true"></p-calendar>
        </div>
        <br>
        <div class="flex-grid">
            <span class="col pv6"><strong>End Date: &nbsp;</strong></span>
            <p-calendar class="col2" formControlName="end_date" id="end_date" [touchUI]="true"></p-calendar>
        </div>
        <br>

        <hr>
        <div *ngIf="trip.is_open; else tripClosed">
            <div style="float: left">
                <strong>Status: <span style="color: green">OPEN</span></strong>
            </div>
        </div>

        <ng-template #tripClosed>
            <div style="float: left">
                <strong>Status: <span style="color: red">CLOSED</span></strong>         
            </div>
        </ng-template>

        <div style="float: right">
            <strong>Selected:</strong>  {{ trip.selected }}   
        </div>
        <br>
        
        <hr>
        <strong>Permits:</strong>
        <div *ngFor="let permit of trip.permits" class="narrow_item_border">
            {{ permit.fishery }}
        </div>
        <hr>
        <strong>Messages:</strong>
        <button style="float:right; color: white; margin: 5px 0" mat-icon-button><mat-icon>create</mat-icon></button> 
        <br><br><br>
        <div *ngFor="let message of trip.messages" class="narrow_item_border">
            {{ message.content }}
        </div>

    <!-- <br><br>
    <div>
        <p-toggleButton onLabel="open" offLabel="closed" onIcon="pi pi-lock-open" offIcon="pi pi-lock" formControlName="is_open"></p-toggleButton>
    </div> -->


</form>

</div>

<app-footer></app-footer>