<div style="text-align: center">

  <div class="trip-data">
    <a routerLink="/manage-vessels" style="text-decoration: none;">
      <strong>{{ vessel.vessel_name }}</strong> 
    </a>
    <hr>
  </div>
  <strong>Active Trips</strong>
  <div class="desktop">
    <div>Start Date</div>
    <div>Trip Attributes</div>
    <div>End Date</div>
  </div>
  <br>
    <div *ngFor="let trip of trips" routerLink="/trip" (click)="setTrip(trip)">

      <div class="narrow_item_border" *ngIf="trip.vessel === vessel.vessel_name && trip.is_open">

        <span class="vertical-align"> {{ trip.start_date }} </span>

        <span class="vertical-align">
            <mat-icon style="font-size: 15px">lock_open</mat-icon>

            <span *ngIf="trip.selected; else notSelected;">
                <mat-icon style="font-size: 15px">check_box</mat-icon>
            </span>

            <ng-template #notSelected>
                <mat-icon style="font-size: 15px">check_box_outline_blank</mat-icon>
            </ng-template>

            <span *ngIf="trip.messages; else noMessages">
              <mat-icon style="font-size: 15px">message</mat-icon>
            </span>

            <ng-template #noMessages>
                <mat-icon style="color: lightgray; font-size: 15px">message</mat-icon>
            </ng-template>
        </span>
        
        <span class="vertical-align"> {{ trip.end_date }} </span>

        <span *ngFor="let permit of trip.permits" style="width: 100% ">
          {{ permit.fishery }}
        </span>

      </div>

    </div>

    <hr>
    <strong style="color: grey;">Closed Trips</strong>
    <div class="desktop" style="color: grey">
        <div>Start Date</div>
        <div>Trip Attributes</div>
        <div>End Date</div>
      </div>
    <br>
    <div *ngFor="let trip of trips"  routerLink="/trip" (click)="setTrip(trip)">
        <div  *ngIf="trip.vessel === vessel.vessel_name && !trip.is_open">
          <div class="closed_item_border">

            <span class="vertical-align"> {{ trip.start_date }} </span>
            
            <span class="vertical-align">
              <mat-icon style="font-size: 15px">lock</mat-icon>
              
              <span *ngIf="trip.selected; else notSelected;">
                <mat-icon style="font-size: 15px" >check_box</mat-icon>
              </span>
              <ng-template #notSelected>
                <mat-icon style="font-size: 15px">check_box_outline_blank</mat-icon>
              </ng-template>
              
              <span *ngIf="trip.messages; else noMessages">
                <mat-icon style="font-size: 15px" >message</mat-icon>
              </span>
              <ng-template #noMessages>
                <mat-icon style="color: lightgray; font-size: 15px">message</mat-icon>
              </ng-template>
              
            </span>
            
            <span class="vertical-align"> {{ trip.end_date }} </span>
            
            <span *ngFor="let permit of trip.permits" style="width: 100% ">
                {{ permit.fishery }}
              </span>
          </div>

        </div>
      </div>


</div>

<app-footer></app-footer>