@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~material-design-icons/iconfont/material-icons.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~@ng-select/ng-select/themes/material.theme.css";

@import '~@angular/material/theming';
@import './styles/material-theme';
@import './styles/keyboard-light';

.ui-keyboard {
  bottom: 5%;
  // width: 40%;
  // border: 0 !important;
  top: auto !important;
}

.ui-keyboard-enter { display: none; }
.ui-keyboard-tab { display: none; }

.ui-keyboard-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

// .ui-keyboard-button {
//   font-size: 1.25em;
// }
div.ui-keyboard.ui-widget-content {
  background-color: transparent;
}

// basic grid configuration
.row {
  padding-left: .5em;
  padding-top: .2em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding: .2em;
}

[class*="col-"] {
  float: left;
  padding: 0;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
// end of grid css

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #3F51B5;
  color: white;
  padding-left: 24px;
}

.footer-contents {
  height: 80px;
  line-height: 80px;
  vertical-align: center;
}

.footer-button {
  font-size: 24px;
  padding: 0 6px;
}

.footer-link {
  margin-bottom: 6px;
  margin-right: 12px;
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

// prime ng row highlight
.ui-state-highlight td {
  background-color: #3F51B5;
}

th, td {
  font-size: 24px;
  font-weight: bold;
}

// makes tab headings uppercase
// .ui-tabview .ui-tabview-nav {
//   text-transform: uppercase !important;
// }

.ui-tabview .ui-tabview-nav > li.ui-state-active {
  background: #3F51B5 !important;
}

.ui-tabview .ui-tabview-nav > li.ui-state-active a {
  color: white !important;
  font-weight: bold !important;
}

.ui-tabview .ui-tabview-panel {
  padding: 12px !important;
}

.ui-togglebutton.ui-button.ui-state-active, .ui-selectbutton .ui-button.ui-state-active {
  background: #3F51B5 !important;
  border: 1px solid #3F51B5 !important
}

.ui-state-highlight {
  background-color: #3F51B5 !important;
}

.ui-tabview {
  padding: 0 !important;
}

.form-field {
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 6px;
  margin-right: 12px;
  font-family: sans-serif;
  font-size: 24px;
  display: block;
}

.form-text {
  font-size: 24px;
  font-weight: bold;
}

.default-button .ui-clickable {
  background-color: #3F51B5;
  border-radius: 3px;
}

.danger-button .ui-clickable {
  background-color: rgb(190, 7, 7);
  border-radius: 3px;
  border-width: 5 !important;
}


.mat-app-background {
  background-color: lightgray !important;
}

// not committed
.ui-tabview-panel {
  background-color: lightgray !important;
}

.ui-button-text {
  font-weight: bold !important;
}

.ui-dropdown-label, .ui-dropdown-item {
  font-weight: bold !important;
}

.ui-state-filled {
  font-weight: bold !important;
}

.ui-tabview-title {
  color: black;
  font-weight: bold;
}

.ui-tabview-selected .ui-tabview-title {
  color: white
}

.ui-tabview-nav {
  background-color: lightgray !important;
}

.ui-dialog-titlebar.ui-widget-header {
  background: #3F51B5 !important;
  color: white !important;
  font-weight: bold;
}

.ui-dialog-content {
  background-color: lightgray !important;
}
