
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #0093D0;
    }
    40% {
        stroke: #0093D0;
    }
    66% {
        stroke: #0093D0;
    }
    80%,
    90% {
        stroke: #0093D0;
    }
}