
<!-- <div *ngFor="let permit of permits" routerLink="/permit-detail" (click)="setPermit(permit)">
    <div class="narrow_item_border">
        <span class="vertical-align">{{permit.permit_num}}</span>
        <span class="vertical-align">{{permit.vessel}}</span>
    </div>

</div> -->

<ul *ngIf="permitsObservable | async as permits">
    <li *ngFor="let permit of permits"></li>
</ul>

<div class="centered-spinner" *ngIf="permits.length === 0">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
</div>

<div *ngFor="let permit of permits" routerLink="/permit-detail" (click)="setPermit(permit)">
    <div class="list-item">
        <div class="first-line">{{ permit.permit_number }}
            <span class="status-icons"> 
                <i class="material-icons" *ngIf=" 1 > 0.5">assignment_ind</i>
            </span>
        </div>
        <div class="second-line">{{ permit.vessel_name }}</div>
    </div>
</div>


<app-footer (searchstring)="searchPermits($event)"></app-footer>