<mat-button-toggle-group name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup">
  <mat-button-toggle class="footer-toggle" value="hake" checked (change)="onValChange($event.value)">Hake Survey</mat-button-toggle>
  <mat-button-toggle class="footer-toggle" value="wcgop" (change)="onValChange($event.value)">WCGOP Observer</mat-button-toggle>
  <mat-button-toggle class="footer-toggle" value="ashop" (change)="onValChange($event.value)">A-SHOP Observer</mat-button-toggle>
</mat-button-toggle-group>
<div>Selected value: {{group.value}}</div>
