.preview-header {
  display: grid;
  grid-auto-flow: column;
}

.mat-header-cell {
  font-size: large;
}

.trip-haul-inputs {
  display: grid;
  grid-template-columns: 50px 50px;
  align-content: center;
}

input[type='text'],
input[type='number'],
.data-row {
  font-size: 24px;
}

.mat-subheading-2 {
  margin: unset;
}
