<div class="card">
  <div class="card-heading">{{ permit.vessel_name }}</div>

  <div class="card-sub-heading">ACTIVE CAPTAINS:</div>

  <div class="card-contents">
    <p-multiSelect
      [options]="captains"
      [(ngModel)]="selectedCaptains"
      optionLabel="name"
      [filter]="true"
      [panelStyle]="{ minWidth: '20em' }"
    ></p-multiSelect>
  </div>
  <div class="card-sub-heading">VESSEL DETAILS:</div>

  <div class="card-contents">
    <div class="flex-space-between">
      <span class="card-field-title">Vessel Name:</span>
      <span class="card-field-value">{{ permit.vessel_name }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Vessel Registration Number:</span>
      <span class="card-field-value">{{
        permit.vessel_registration_number
      }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Length:</span>
      <span class="card-field-value">{{ permit.vessel_length }}'</span>
    </div>
    <div class="flex-space-between">
      <div class="card-field-title">Owner:</div>
      <div class="card-field-value" style="text-align: right;">
        {{ permit.vessel_owner }}
      </div>
    </div>
  </div>

  <div class="card-sub-heading">PERMIT DETAILS:</div>

  <div class="card-contents">
    <div class="flex-space-between">
      <span class="card-field-title">Permit Number:</span>
      <span class="card-field-value">{{ permit.permit_number }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Trawl Gear:</span>
      <span class="card-field-value">{{ permit.trawl_gear }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Longline Gear:</span>
      <span class="card-field-value">{{ permit.longline_gear }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Trap Pot Gear:</span>
      <span class="card-field-value">{{ permit.trap_pot_gear }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Small Fleet:</span>
      <span class="card-field-value">{{ permit.small_fleet }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Endorsed Length:</span>
      <span class="card-field-value">{{ permit.endorsed_length }}'</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Sablefish Endorsement:</span>
      <span class="card-field-value">{{ permit.sablefish_endorsement }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Sablefish Tier:</span>
      <span class="card-field-value">{{
        permit.sablefish_tier ? permit.sablefish_tier : 'N/A'
      }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">CP Endorsement:</span>
      <span class="card-field-value">{{ permit.cp_endorsement }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">MS Endorsement:</span>
      <span class="card-field-value">{{ permit.ms_endorsement }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">MS Catcher Vessel:</span>
      <span class="card-field-value">{{
        permit.mothership_catcher_vessel
      }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Whiting Percent:</span>
      <span class="card-field-value">{{
        permit.whiting_percent ? permit.whiting_percent : 'N/A'
      }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Whiting Assignment:</span>
      <span class="card-field-value">{{
        permit.whiting_assignment ? permit.whiting_assignment : 'N/A'
      }}</span>
    </div>
    <div class="flex-space-between">
      <span class="card-field-title">Owner On Board Exempt:</span>
      <span class="card-field-value">{{
        permit.owner_on_board_exempt ? 'Yes' : 'No'
      }}</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
