<div class="flex-space-desktop">
  <div>
    <div class="new-item-button">
      <button
        class="mat-icon-button"
        style="color: white;"
        mat-icon-button
        routerLink="/user"
        (click)="clearUser()"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div
      class="list-item"
      *ngFor="let user of activeUsers"
      routerLink="/user"
      (click)="setUser(user)"
    >
      <div class="first-line">{{ user.first_name }} {{ user.last_name }}</div>
    </div>
  </div>

  <div style="width:100%" class="desktop"><app-user></app-user></div>
</div>

<app-footer (searchstring)="searchActiveUsers($event)"></app-footer>
