<div style="text-align: center">
    <div class="default_item_border" *ngFor="let vp of vessel_permits">
      <div style="float:left; font-weight: bold">{{ vp.vessel_name }} </div>
      <div style="float:right; font-weight: bold">{{ vp.permit_number}}</div>
      <br>
      <div style="float:left; color: #0093D0; font-weight: bold">{{ vp.target_fish }}</div>

      <div style="float:right;">       
          <i>{{ vp.selection_type }}</i>
      </div>
      <br>
    </div>
</div>
<app-footer></app-footer>