<div class="card">
  <form
    class="card-contents"
    style="text-align: center;"
    name="form"
    (ngSubmit)="f.form.valid && login()"
    #f="ngForm"
    novalidate
  >
    <mat-form-field
      [ngClass]="{ 'has-error': f.submitted && !username.valid }"
      floatLabel="true"
      hideRequiredMarker="true"
    >
      <mat-label>Username</mat-label>
      <input
        matInput
        id="username"
        placeholder="Username"
        type="text"
        autocomplete="username"
        name="username"
        [(ngModel)]="model.username"
        #username="ngModel"
        (ngModelChange)="changedUsername($event)"
        required
      />
      <div *ngIf="f.submitted && !username.valid" class="help-block">
        Username is required
      </div> </mat-form-field
    >&nbsp;
    <mat-form-field
      [ngClass]="{ 'has-error': f.submitted && !password.valid }"
      floatLabel="true"
      hideRequiredMarker="true"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        autocomplete="current-password"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility' : 'visibility_off'
      }}</mat-icon>
      <div *ngIf="f.submitted && !password.valid" class="help-block">
        Password is required
      </div>
    </mat-form-field>
    <div class="login-button">
      <button mat-raised-button [disabled]="loading" color="primary">
        Login
      </button>
    </div>
    <br />
  </form>
  <p>
    <p-message
      *ngIf="(isDBSynced | async)"
      severity="info"
      text="DB Synced"
      style="float: right;"
    ></p-message>
    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
      width="425"
    ></p-confirmDialog>
    <!--
      <img style="text-align: center" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
    -->
  </p>

  <div class="centered-spinner" *ngIf="loading">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
  </div>
</div>
