
<div *ngIf="couchData.length === 0" class="centered-spinner">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
</div>

  <div class="list-item" *ngFor="let vessel of couchData" routerLink="/vessel-detail" (click)="setVessel(vessel)">
        <div class="first-line">{{ vessel.vessel_name }}</div>
        <div class="second-line">{{ vessel.coast_guard_number? "USCG: " + vessel.coast_guard_number : "SR: " + vessel.state_reg_number }}</div>
  </div>
  
<app-footer (searchstring)="searchVessels($event)"></app-footer>